html{
  font-family: 'Poppins', sans-serif;
}
body{
  background: #EAEAEA;
  margin: 0;
  padding: 0;
  min-height:100%;
  position:relative;
  font-family: 'Poppins', sans-serif;
}
#product_canvas{
  height: 650px;
  width: 100%;
  border: 1px solid #7A7A7A;
}
header{
  font-size:14px;
  font-weight: 300;
}
main{
  padding:10px;
  padding-bottom: 95px;
  min-height: calc(100vh - 55px);
}
label{
  font-size:14px;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}

h4,h5,h6{
  color: #E0BB7D;
  text-align: left;
}
h5, h6{
  margin:0px;
  font-weight: 700;
}
h6{
  font-weight:500;
}
.subtitle{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #E0BB7D;
  font-size: 15px;
  margin: 5px 25px;
  font-weight: 500;
}
.radio_group .radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.has-search{
  display:flex;
  align-items: center;
  margin-right: 10px;
}
.has-search .form-control {
  padding: 3px 4px;
  outline-color: #E0BB7D;
  background: #EAEAEA;
  border: none;
  color: #050505;
  width: 200px;
}
.search_b {
  float: right;
  padding: 3px 9px;
  border: none;
  cursor: pointer;
  background-color: #E0BB7D;
  outline-color: #E0BB7D;
  color: #050505;
}
.search_b:hover {
  background-color: #7A7A7A !important;
  color: #E0BB7D !important;
  padding: 2px 8px;
  border: 1px solid #E0BB7D;
}
input::placeholder{
  color: #050505;
  font-style: italic;
}

.radio_group .radio input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #FEFEFE;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FEFEFE;
}

.radio{
  display: inline-flex;
  align-items: center;
  padding: 0px 7px;
}
.radio_color{
  display: inline-flex;
  align-items: center;
  margin: 5px;
}
.w3-radio-wc{
  width: 18px;
  height: 18px;
  position: relative;
}
.w3-radio-wc:focus{
  outline: none;
}
.w3-radio-wc:hover{
  opacity: .6;
}
.radio_color input[type="radio"] {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio_color input[type='radio']:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
}

.radio_color input[type='radio']:checked:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #E0BB7D;
}

.radio_color .red:after {
  background-color: red;
}
.radio_color .red:checked:after {
  background-color: red;
}
.radio_color .blue:after {
  background-color: blue;
}
.radio_color .blue:checked:after {
  background-color: blue;
}
.radio_color .yellow:after {
  background-color: black;
}
.radio_color .yellow:checked:after {
  background-color: black;
}
.radio_color .green:after {
  background-color: green;
}
.radio_color .green:checked:after {
  background-color: green;
}

.radio_group{
  text-align: center;
  padding-bottom: 10px;
}

.radio_group .radio input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #E0BB7D;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FEFEFE;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px;
  background-color: #050505; 
  color: #FEFEFE;
  font-size:12px;
}
hr{
  height: 1px;
  background-color: #050505;
  border:0px;
  margin: 10px;
}
p{
  margin:2px;
  padding:0px;
}

.left_menu {
  display: flex;
  align-items: center;
}

.left_menu img {
  display: inline-block;
  width: 70px;
}

.left_menu ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left_menu ul li {
  display: inline-block;
}

.right_menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right_menu a {
  display: inline-block;
}

.w3-bar-w{
  width: 100%;
  background-color: #050505;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FEFEFE;
}

.w3-button-w{
  padding: 17px 16px;
}

.w3-button:hover{
  background-color: #7A7A7A !important;
  color: #E0BB7D !important;
}

.social_link{
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
}

#qta{
  display: flex;
}
#price{
  display: flex;
  height: 33px;
}
.qtaprice{
  display: flex;
  align-items: center;
  padding-top: 6px;
}

#options_qta{
  width: 40px;
  height: 25px;
  padding: 2px;
  border: 0px;
  background-color: #E0BB7D;
  outline: #E0BB7D;
}
select.quantity option:hover{
  background-color: #050505 !important; 
  color: #E0BB7D !important;
}

.quantity{
  display: inline-flex;
  align-items: center;
}

.model_area{
  height:650px;
}

.personalization{
  box-sizing: border-box;
  color: #FEFEFE;
  background-color: #474448;
  height: 560px;
}

.w3-radio-w {
  width: 18px;
  height: 18px;
  position: relative;
}
.w3-radio-w:focus{
  outline: none;
}

.color-button {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
	width: 35px;
	height: 35px;
  margin: 2px;
  border-radius: 50%;
}
.color-button:hover {
	opacity: .6;
}
.color-button:focus {
  outline: none;
}

.add_button {
	border:none;
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color: #050505;
  background-color:#E0BB7D;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
	width: 140px;
	height: 35px;
  font-size: 14px;
  font-weight: 400;
  outline-color: #E0BB7D
}
.add_button:hover {
  background-color: #7A7A7A !important;
  color: #E0BB7D !important;
  border: 1px solid #E0BB7D;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

  /* Breadcrumb */
  ul.breadcrumb {
    list-style: none;
    background-color: inherit;
    padding: 0;
    margin: 2px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 13px;
    font-weight: 200;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    color: #474448;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    text-decoration: none;
    color: #474448;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #e0bb7d;
    text-decoration: underline;
  }

  ul{
    margin:0px;
    padding:0px;
  }
  
  ul.social_link a{
    text-decoration: none;
    margin: 5px;
  }

  ul.social_link a:hover {
    color: #E0BB7D;
  }


#canvas_wrap { 
    position:relative; 
    height: 650px; 
    width: 75%;
} /* Make this a positioned parent */
#measure{ 
  position:absolute;  
  color: #050505; 
  bottom: 10px;
  left: 35px;
  width:150px;
}
#info{
  padding: 5px;
  background-color: #474448;
  color: #fefefe;
  font-weight: 300
}