body{
  background: #EAEAEA;
  margin: 0;
  padding: 0;
  min-height:100%;
  position:relative;
}
main{
  padding:10px;
  padding-bottom: 95px;
}
h4,h5,h6{
  color: #E0BB7D;
  text-align: center;
}
h4, h5{
  margin:0px;
}
.radio_group .radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_group .radio input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #FEFEFE;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FEFEFE;
}

.radio{
  display: inline-flex;
  align-items: center;
}
.radio_color{
  display: inline-flex;
  align-items: center;
  margin: 5px;
}
.w3-radio-wc{
  width: 18px;
  height: 18px;
  position: relative;
}
.w3-radio-wc:focus{
  outline: none;
}
.radio_color input[type="radio"] {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio_color input[type='radio']:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
}

.radio_color input[type='radio']:checked:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #E0BB7D;
}

.radio_color .red:after {
  background-color: red;
}
.radio_color .red:checked:after {
  background-color: red;
}
.radio_color .blue:after {
  background-color: blue;
}
.radio_color .blue:checked:after {
  background-color: blue;
}
.radio_color .yellow:after {
  background-color: black;
}
.radio_color .yellow:checked:after {
  background-color: black;
}
.radio_color .green:after {
  background-color: green;
}
.radio_color .green:checked:after {
  background-color: green;
}
/*FINIRE GLI ALTRI COLORI*/

.radio_group{
  text-align: center;
}


.radio_group .radio input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #E0BB7D;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FEFEFE;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px;
  background-color: #0F0505; 
  color: #FEFEFE;
  font-size:12px;
}
hr{
  height: 1px;
  background-color: #0F0505;
  border:0px;
  margin: 10px;
}
p{
  margin:2px;
  padding:0px;
}

.left_menu {
  display: flex;
  align-items: center;
}

.left_menu img {
  display: inline-block;
  width: 70px;
}

.left_menu ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left_menu ul li {
  display: inline-block;
}

.right_menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right_menu a {
  display: inline-block;
}

.w3-bar-w{
  width: 100%;
  background-color: #0F0505;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FEFEFE;
}

.w3-button-w{
  padding: 15px 16px;
}

.w3-button:hover{
  background-color: #443939 !important;
  color: #E0BB7D !important;
}

.social_link{
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
}

#qta{
  display: flex;
}
#price{
  display: flex;
  height: 33px;
}

#options_qta{
  width: 50px;
  height: 33px;
  padding: 2px;
}

.quantity{
  display: inline-flex;
  align-items: center;
}

.model_area{
  height:650px;
}

.personalization{
  box-sizing: border-box;
  color: #FEFEFE;
  background-color: #443939;

}

.w3-radio-w {
  width: 18px;
  height: 18px;
  position: relative;
}
.w3-radio-w:focus{
  outline: none;
}

.color-button {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
	width: 35px;
	height: 35px;
  margin: 2px;
  border-radius: 50%;
}
.color-button:hover {
	opacity: .6;
}
.color-button:focus {
  outline: none;
}

.add_button {
	border:none;
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color: #0F0505;
  background-color:#E0BB7D;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
	width: 140px;
	height: 35px;
  margin: 0px 0px 10px 0px;
}
.add_button:hover {
	opacity: .6;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

  /* Breadcrumb */
  ul.breadcrumb {
    list-style: none;
    background-color: inherit;
    padding: 0;
    margin: 2px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 13px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    color: #0F0505;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #e0bb7d;
    text-decoration: underline;
  }

  ul{
    margin:0px;
    padding:0px;
  }
  
  ul.social_link a{
    text-decoration: none;
    margin: 5px;
  }

  ul.social_link a:hover {
    color: #E0BB7D;
  }

