body{
  background: #eee;
  margin: 0;
  padding: 0;
}

header{
  background-color: #0F0505; 
  color: #FEFEFE;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px;
  background-color: #0F0505; 
  color: #FEFEFE;
  font-size:12px;
}

p{
  margin:5px;
  padding:0px;
}

.right_menu{
  float: right;
  margin: 0px;
  font: Verdana, sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

  /* Breadcrumb */
  ul.breadcrumb {
    list-style: none;
    background-color: #eee;
    padding: 0;
    margin: 2px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 13px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    color: black;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #E0BB7D;
    text-decoration: underline;
  }

  ul{
    margin:0px;
    padding:0px;
  }
  
  ul.social_link a{
    text-decoration: none;
    width: 50px;
    margin: 5px;
  }

  ul.social_link a:hover {
    color: #E0BB7D;
  }

